<mat-list>
    <mat-list-item *ngIf="user$ | async as user" >
      <mat-icon matListIcon>
        <i class="material-icons">person </i>
      </mat-icon>
      <h2>{{user.id}}</h2>
      <h2 matLine> {{user.name}}</h2>

    </mat-list-item>
  </mat-list>

  <mat-list>
      <mat-list-item *ngFor="let post of posts$ | async" >
        <mat-icon matListIcon>
          <i class="material-icons">person </i>
        </mat-icon>
        <h2 matLine> {{post.id}}</h2>
        <h2 matLine> {{post.body}}</h2>
  
      </mat-list-item>
    </mat-list>