.detail{
    &-card{
        width: 100px;
        margin: 25px;
        border: 1px solid gray;
        box-shadow: 17px 11px 17px -5px rgba(115,96,115,1);

        &__header-img{
            background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
            background-size: cover;
        }
    }

    &-img{
        max-height: 300px;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("../../../../assets/images/usuario.png");
    }
}
 
.section-post{
    margin: 20px;

    &__title{
        font-size: .8em;
    }
}

mat-list{
    border: .5px solid gray;
}
mat-list-item {
    border-bottom: .2px solid lightgray;
}