<mat-toolbar
  fxLayout="row"
  fxLayoutAlign="space-between center"
  ngStyle.lg="padding: 0 72px"
  ngStyle.xl="padding: 0 120px"
  color="primary">
  <img height="40px" src="assets/images/logo.png" alt=" Logo" />
  <span>Authors</span>
  <div fxShow.gt-xs="true" fxHide fxLayout="row" fxLayoutGap="24px">
    <button mat-button>USERS</button> 
    <button mat-button>DETAIL USER</button>
    <button
      mat-stroked-button
      class="inverse"
      color="primary"
    >
      DETAIL PUBLICATION
    </button>
  </div>

  <button fxShow.lt-sm="true" fxHide mat-icon-button>
    <mat-icon aria-label="Icon-button with a menu">menu</mat-icon>
  </button>

</mat-toolbar>