<div class="comments" fxLayout="column" >

  <div class="item__title" fxLayout="row" fxLayoutAlign="center center" fxGrap="5px">
    <div class="item__title-img"></div>
    <div class="title" fxFlexAlign="center">Commnets</div>
  </div>
  
  <div fxLayout="column" fxLayout.gt-xs="row wrap" fxLayoutAlign="center center" >
    <mat-card class="item-card" *ngFor="let msj of messages$ | async">
        <mat-card-header>
            <div mat-card-avatar >
              <i class="material-icons">comment</i>
            </div>
          <mat-card-title>User</mat-card-title>
          <mat-card-subtitle>{{msj.email}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>Title: {{msj.name}}</p>
          <p>Comment:</p>
          <div class="item-comment">
              {{msj.body}}
          </div>
        </mat-card-content>
    </mat-card>
  </div>

</div>
