<div fxLayout="column" >
  <div class="title" fxLayoutAlign="center center">
    <span>List of users</span>
  </div>
  <div fxLayout="column" fxLayout.gt-xs="row wrap" fxLayoutAlign="center center" fxFlex=100% >
    <mat-card class="item-card" *ngFor="let user of users$ | async" >
        <i class="material-icons" fxLayoutAlign="end center" [routerLink]= "['/detail-user',user.id]" >more_horiz</i>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{user.name}}</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
  </div>
</div>